* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Share Tech Mono, sans-serif;
  font-size: 1.2rem;
  line-height: 1.4;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  -webkit-touch-callout: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

a {
  color: #333;
  text-decoration: none;
}

.container {
  background-color: lightgray;
  height: 32rem;
  width: 32rem;
  padding: 0.6rem;
}

.displays {
  background-color: lightslategrey;
  height: 6rem;
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  flex-wrap: wrap;
}

.mini-display {
  height: 3rem;
  font-size: 150%;
  padding: 0.1rem 0.1rem;
}
.big-display {
  height: 3rem;
  font-size: 200%;
  padding-right: 0.1rem;
}

.buttons {
  background-color: lightsteelblue;
  height: 24.8rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  grid-template-areas:
    "clear clear divide multiply"
    "seven eight nine subtract"
    "four five six add"
    "one two three equals"
    "zero zero decimal equals";
  border-style: solid;
  border-width: 0.01rem;
}

.button {
  border-style: solid;
  border-width: 0.01rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.button:hover {
  background-color: lightskyblue;
  color: white;
  transform: scale(1.01);
}
